<div class="container-fluid">
<div id="poster-size" class="col-sm-3">
    <img ng-src="{{titleDetailVm.title.poster}}">
</div>
<div class="col-sm-9" id="details">
<fieldset>
<legend>Details:</legend>
    <h4>{{titleDetailVm.title.title}}</h4>
        <table>
            <tr>
                <td><b>Year:</b></td>
                <td>{{titleDetailVm.title.year}}</td>
            </tr>
            <tr>
                <td><b>Rated:</b></td>
                <td>{{titleDetailVm.title.rated}}</td>
            </tr>
            <tr>
                <td><b>Released:</b></td>
                <td>{{titleDetailVm.title.released}}</td>
            </tr>
            <tr>
                <td><b>Runtime:</b></td>
                <td>{{titleDetailVm.title.runtime}}</td>
            </tr>
            <tr>
                <td><b>Genre:</b></td>
                <td>{{titleDetailVm.title.genre}}</td>
            </tr>
            <tr>
                <td><b>Director:</b></td>
                <td>{{titleDetailVm.title.director}}</td>
            </tr>
            <tr>
                <td><b>Writer:</b></td>
                <td>{{titleDetailVm.title.writer}}</td>
            </tr>
            <tr>
                <td><b>Actors:</b></td>
                <td>{{titleDetailVm.title.actors}}</td>
            </tr>
            <tr>
                <td><b>Plot:</b></td>
                <td>{{titleDetailVm.title.plot}}</td>
            </tr>
            <tr>
                <td><b>Language:</b></td>
                <td>{{titleDetailVm.title.language}}</td>
            </tr>
            <tr>
                <td><b>Country:</b></td>
                <td>{{titleDetailVm.title.country}}</td>
            </tr>
            <tr>
                <td><b>Awards:</b></td>
                <td>{{titleDetailVm.title.awards}}</td>
            </tr>
            <tr>
                <td><b>Metascore:</b></td>
                <td>{{titleDetailVm.title.metascore}}</td>
            </tr>
            <tr>
                <td><b>imdbRating:</b></td>
                <td>{{titleDetailVm.title.imdbRating}}</td>
            </tr>
            <tr>
                <td><b>imdbVotes:</b></td>
                <td>{{titleDetailVm.title.imdbVotes}}</td>
            </tr>
            <tr>
                <td><b>imdbID:</b></td>
                <td>{{titleDetailVm.title.imdbID}}</td>
            </tr>
            <tr>
                <td><b>Type:</b></td>
                <td>{{titleDetailVm.title.type}}</td>
            </tr>


        </table>
</fieldset>
</div>
</div>