
<div class="col-sm-3">
    <img ng-src="{{titleDetailVm.title.poster}}">
</div>
    <div class="col-sm-9">
        <h4>{{titleDetailVm.title.title}}</h4>
        <p><b>Year:</b>{{titleDetailVm.title.year}}</p>
        <p><b>Rated:</b>{{titleDetailVm.title.rated}}</p>
         <p><b>Released:</b>{{titleDetailVm.title.released}}</p>
         <p><b>Runtime:</b>{{titleDetailVm.title.runtime}}</p>
         <p><b>Genre:</b>{{titleDetailVm.title.genre}}</p>
         <p><b>Director:</b>{{titleDetailVm.title.director}}</p>
         <p><b>Writer:</b>{{titleDetailVm.title.writer}}</p>
         <p><b>Actors:</b>{{titleDetailVm.title.actors}}</p>
         <p><b>Plot:</b>{{titleDetailVm.title.plot}}</p>
         <p><b>Language:</b>{{titleDetailVm.title.language}}</p>
         <p><b>Country:</b>{{titleDetailVm.title.country}}</p>
         <p><b>Awards:</b>{{titleDetailVm.title.awards}}</p>
         <p><b>Metascore:</b>{{titleDetailVm.title.metascore}}</p>
         <p><b>imdbRating:</b>{{titleDetailVm.title.imdbRating}}</p>
         <p><b>imdbVotes:</b>{{titleDetailVm.title.imdbVotes}}</p>
         <p><b>imdbID:</b>{{titleDetailVm.title.imdbID}}</p>
        <p><b>Type:</b>{{titleDetailVm.title.type}}</p>
  <!--  &lt;!&ndash;    &lt;!&ndash;        <i  ng-click="titlesVm.remove(title.titleId)" class="glyphicon glyphicon-trash"></i></button>
                <a ng-href="#/addtitle" ng-click="titlesVm.edit(title.titleId)"><i  class="glyphicon glyphicon-pencil"></i></a>&ndash;&gt;
        &lt;!&ndash; <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Edit</button>
         <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Remove</button>&ndash;&gt;&ndash;&gt;-->
    </div>
