.thumbnail {
    margin-left:20px;
    margin-right: 20px;
    width: 300px;
    float:left;
}
/*
.thumbnail img {
    max-height: 300px;
    min-height: 300px;
}*/

.profile-pic {
    display: block;
}

body{
    background-color: dodgerblue;
}
section{
    min-height: 300px;
}

.row{
    float:left;
    margin-left: 20px;
}